html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter;
    background: #020617;
    color: white;
    margin: 0;
    padding-top: 80px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.header {
    text-align: center;
    padding: 60px 20px;
}

.section {
    margin-top: 50px;
    scroll-margin-top: 100px;
}

.section p {
    max-width: 900px;
    line-height: 1.5em;
}

.logo {
    font-family: Orbitron;
    font-size: 24px;
    color: white
}

.logo:hover {
    color: #2563eb;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    background: rgba(2, 6, 23, 0.7);
    backdrop-filter: blur(20px);
    z-index: 9999;
}

.nav-left {
    position: absolute;
    left: 40px;
}

.nav-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-center ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}


.nav-button {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 8px;
    background: #020617;
    color: white;
    text-decoration: none;
    border: 1px solid #2563eb;
    transition: 0.3s;
}

.nav-button:hover {
    background: #2563eb;
}

.imgperfil {
    width: 250px;
    border-radius: 50%;
    border: 1px solid #2563eb;
    box-shadow: 0px 0px 20px #2563eb;

}

.section {
    margin-top: 50px;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.tech-card {
    background: rgba(14, 165, 233, 0.08);
    border: 1px solid rgba(14, 165, 233, 0.3);

    padding: 15px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    transition: 0.3s;
}

.tech-card:hover {
    transform: translateY(-5px);
    border-color: #2563eb;
    box-shadow: 0 0 15px rgba(14, 165, 233, 0.4);
}

.tech-card img {
    width: 40px;
}

.tech-card span {
    font-size: 14px;
    opacity: 0.9;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}


.project-title {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #2258ec;

}

.project-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 18px;
    transition: 0.3s;
    overflow: hidden;
    display: block;
    margin-top: 10px;
}


.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px #0ea5e9;
}

.project-image {
    width: 100%;
    height: 180px;
    margin: 0 0 10px 0;
    overflow: hidden;
    border-radius: 10px;
}


.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.project-content {
    flex: 1;
}

.project-future {
    opacity: 0.6;
    font-size: 14px;
}

.tags {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tags span {
    margin-top: 20px;
    background: #2563eb;
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 5px;
    font-size: 12px;
}

.button-primary {
    display: inline-block;
    padding: 10px 18px;
    margin-top: 10px;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border: 1px solid #2563eb;
    margin-top: 10px;
    transition: 0.3s;
}

.button-primary:hover {
    background: transparent;
}

.contact-buttons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.more-projects-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    transition: 0.3s;
}

.background-glow {
    position: fixed;
    width: 500px;
    height: 500px;
    background: #0ea5e9;
    filter: blur(200px);
    opacity: 0.2;
    z-index: 0;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    text-align: center;
    padding: 30px;
    opacity: 0.6;
}

@media(max-width:768px) {

    .imgperfil {
        width: 140px;
    }

    .nav ul {
        gap: 8px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .tech-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}